.myCard{
  margin: 10px;
}
h1{
  text-align: center;
  color: cornflowerblue;
}
.description-title{
  text-align: center;
  color: cornflowerblue;
}
.description{
  text-align: center;
  color: indigo
}

